{% extends 'shared/layout.html' %}

{% block title %}
	لیست محصولات
{% endblock %}

{% block content %}
	<section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Latest Products
        </h2>
      </div>
      <div class="row">
        {% for product in products %}
            {% include 'includes/product_item_partial.html' with product=product %}
        {% endfor %}
        {% comment %}<div class="clearfix"></div>
      <ul class="pagination">
          <li class="active"><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">>></a></li>
      </ul>{% endcomment %}
      </div>
      <div class="btn-box">
        <a href="">
          View All Products
        </a>
      </div>
    </div>
  </section>
{% endblock %}